@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-400/20 rounded-full hover:bg-slate-400/40;
  }

  @keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
  }

  .animate-scanline {
    animation: scanline 4s linear infinite;
  }
}

@keyframes music {
  0%, 100% { height: 20%; opacity: 0.5; }
  50% { height: 100%; opacity: 1; }
}
